

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <div class="logo">
                    <img src="assets/logo.jpg" class="logo" alt="">
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-9 text-end">
                <div class="menu-icon" (click)="openMenu()">
                    <i class="{{menu_icon}}"></i>
                </div>
               <div class="desktop_menu" [class.mobile_menu]="menuValue">  
                    <ul>
                        <li>
                            <a routerLink="home" (click)="closeMenu() " >Pocetna</a>
                        </li>
                        <li>
                            <a routerLink="aboutus" (click)="closeMenu() " >O nama</a>
                        </li>
                        <li>
                            <a routerLink="projects" (click)="closeMenu() ">Projekti</a>
                        </li>
                        <li>
                            <a routerLink="services" (click)="closeMenu() ">Usluge</a>
                        </li>
                        <li>
                            <a routerLink="contactus" (click)="closeMenu() ">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
     </div>
</header>
