<div class="container">
    <h2 class="text-center mb-4">Pregled projekata</h2>
    <div class="text-right mb-3">
        <button pButton type="button" class="p-button-success" (click)="navigateToAddProject()">
          <i class="fa fa-plus"></i> Dodaj Projekat
        </button>
      </div>
      

    <p-table 
      [value]="projects" 
      [paginator]="true" 
      [rows]="10" 
      [responsiveLayout]="'scroll'"
      class="table-bordered">
      
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Naziv</th>
          <th>Datum početka i kraja</th>
          <th>Lokacija</th>
          <th>Akcije</th> 
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-project>
        <tr>
          <td>{{ project.id }}</td>
          <td>{{ project.name }}</td>
          <td>{{ project.startDate | date: 'shortDate' }} - {{ project.endDate | date: 'shortDate' }}</td>
          <td>{{ project.location }}</td>
          <td>
            <button pButton type="button" class="p-button-text p-button-sm edit-btn" (click)="navigateToEdit(project.id)">
              <i class="fa fa-pencil-alt"></i> Edit
            </button>
              <button pButton type="button" class="p-button-text p-button-sm delete-btn"
                  (click)="onDelete(project.id)">
            <i class="fa fa-trash"></i> Delete
          </button>
              
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  