<section class="about-us-hero bg-light text-center py-5">
  <div class="container">
    <h1 class="display-4">Administracija projekata</h1>
  </div>
</section>

<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Dugme za dodavanje projekta -->
    <button pButton type="button" class="btn btn-success" (click)="navigateToAddProject()">
      <i class="fa fa-plus"></i> Dodaj Projekat
    </button>

    <!-- Input za pretragu po lokaciji -->
    <div class="d-flex align-items-center">
      <label for="locationSearch" class="mr-2">Pretraga po lokaciji:</label>
      <input id="locationSearch" type="text" class="form-control" [(ngModel)]="searchLocation" (input)="onSearchChange()" placeholder="Unesite lokaciju" />
    </div>
  </div>

  <p-table 
    [value]="projects" 
    [paginator]="true" 
    [rows]="10" 
    [responsiveLayout]="'scroll'"
    class="">
    
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Datum početka i kraja</th>
        <th>Lokacija</th>
        <th>Akcije</th> 
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-project>
      <tr>
        <td>{{ project.id }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.startDate | date: 'shortDate' }} - {{ project.endDate | date: 'shortDate' }}</td>
        <td>{{ project.location }}</td>
        <td class="button-container text-nowrap">
          <button pButton type="button" class="btn btn-primary me-2" (click)="navigateToEdit(project.id)">
            <i class="fa fa-pencil-alt"></i> Edit
          </button>
          <button pButton type="button" class="btn btn-danger" (click)="onDelete(project.id)">
            <i class="fa fa-trash"></i> Obriši
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
