.table-bordered {
    border: 1px solid #dee2e6; /* Granica tabele */
  }
  
  .table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6; /* Granice između ćelija */
    padding: 8px; /* Razmak unutar ćelija */
    text-align: left; /* Poravnanje teksta */
  }
  
  .table-bordered th {
    background-color: #f8f9fa; /* Boja pozadine za zaglavlje */
    font-weight: bold; /* Debeli font za zaglavlje */
  }
  
  .table-bordered tr:hover {
    background-color: #f1f1f1; /* Boja reda kada se pređe mišem */
  }
  
  .edit-btn {
    color: #007bff;
  }
  
  .delete-btn {
    color: #dc3545;
  }
  .p-button-success{
    color: #008000 ;
  }


  /* Stil za input i dugme da budu u istom redu */
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mr-2 {
  margin-right: 10px;
}


#locationSearch {
  width: 200px;
  padding: 5px;
}

.button-container {
  display: flex;              
  justify-content: center;    
  gap: 10px;                  
  align-items: center;        
}
