<section class="project-hero text-center animate-hero">
  <div class="overlay"></div>
  <div class="container">
    <h1 class="display-6 text-white animate-fade-in">Naši projekti</h1>
    <p class="lead text-white mt-3 animate-fade-in">Naša misija je da svaki projekat, bez obzira na veličinu, obavimo s
      maksimalnim kvalitetom, pažnjom i inovacijom,
      osiguravajući dugoročnu vrednost za naše klijente.</p>
  </div>
</section>





<div class="container">
  <div class="sort-dropdown mt-3 d-flex justify-content-end align-items-center">
    <label for="sortOptions" class="mr-3">Sortiraj po:</label>
    <select id="sortOptions" class="form-control d-inline-block w-auto" [(ngModel)]="sortBy" (change)="onSortChange()">
      <option value="startdate_desc">Početni datum (najnoviji)</option>
      <option value="startdate">Početni datum (najstariji)</option>
      <option value="enddate_desc">Završni datum (najnoviji)</option>
      <option value="enddate">Završni datum (najstariji)</option>
      <option value="location">Lokacija (A-Z)</option>
      <option value="location_desc">Lokacija (Z-A)</option>
    </select>
  </div>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-4 col-sm-6 mb-4" *ngFor="let project of projects">
      <div class="card h-100">
        <img *ngIf="project.images && project.images.length > 0; else placeholderImage" [src]="project.images[0]"
          class="card-img-top project-image" [alt]="project.name + ' - ' + project.location">
        <ng-template #placeholderImage>
          <img src="assets/placeholder.jpg" class="card-img-top project-image" alt="Placeholder">
        </ng-template>

        <div class="card-body">
          <h4 class="card-title">{{ project.name }}</h4>
          <h6 class="card-subtitle text-muted">{{ project.location }}</h6>
          <p class="card-text mt-3" [innerHTML]="project.safeDescription "></p>
        </div>

        <div class="card-footer text-center">
          <a [routerLink]="['/project', project.id]" class="btn btn-primary btn-sm">Detalji projekta</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Paginacija -->
  <div class="pagination-controls text-center mt-4">
    <button class="btn btn-secondary btn-sm" (click)="previousPage()" [disabled]="page === 1">Prethodna</button>
    <span class="mx-3">Stranica {{ page }} od {{ totalPages }}</span>
    <button class="btn btn-secondary btn-sm" (click)="nextPage()"
      [disabled]="page * pageSize >= totalProjects">Sljedeća</button>
  </div>
</div>