.project-image {
    height: 200px;
    object-fit: cover;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .card-text {
    font-size: 1rem;
    line-height: 1.6;
  }
  .sort-dropdown {
    display: flex;              
    justify-content: flex-end;  
    align-items: center;        
    margin-top: 20px;           
  }
  
  .sort-dropdown label {
    margin-right: 10px;         
  }
  
  .sort-dropdown select {
    max-width: 250px;           
    padding: 5px;               
  }