.contact-us-hero {
  position: relative;
  background: url('https://jaric-storage.b-cdn.net/contactus-logo.webp')  center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
  animation: scaleIn 1s ease-in-out;
  
}

h2.text-center.mb-4 {
  margin-top: 40px; /* Povećaj razmak između sekcija */
}

.contact-us {
  margin-top: 50px; /* Povećanje razmaka između hero sekcije i forme */
}

.contact-form {
  padding-top: 20px; /* Dodatni razmak unutar forme */
}

.contact-us-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.contact-us-hero .container {
  position: relative;
  z-index: 2;
  animation: fadeIn 1.5s ease-in-out;
  padding-top: 20px; 
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes scaleIn {
  from { transform: scale(1.05); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-hero {
  animation: scaleIn 1.2s ease-in-out;
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.animate-slide-up {
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.5s;
}











.about-us-hero {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  .about-us-content h2 {
    margin-top: 30px;
    font-size: 2rem;
  }
  
  .about-us-content p {
    margin-top: 20px;
    line-height: 1.6;
  }
  
  .about-us-image {
    margin-bottom: 20px;
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .contact-us-hero,
    .contact-us-hero .container,
    .animate-hero,
    .animate-fade-in,
    .animate-slide-up {
      animation: none !important;
    }
    .contact-us-hero {
      height: 50vh;
      padding-top: 70px !important;
    }
  }
  