<section class="contact-us-hero text-center animate-hero">
  <div class="overlay"></div>
  <div class="container">
      <h1 class="display-6 text-white animate-fade-in">Pošaljite nam poruku</h1>
      <p class="lead text-white mt-3 animate-fade-in">Ukoliko imate bilo kakva pitanja ili želite više informacija o našim uslugama, tu smo da vam pomognemo. Kontaktirajte nas i naš tim će vas ubrzo odgovoriti.</p>
  </div>
</section>

<h2 class="text-center mb-4">Vaša poruka</h2>
<div class="contact-us">
  <div class="container">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form mx-auto" style="max-width: 600px;">
      <div class="mb-4">
        <label for="name" class="form-label">Ime</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Vaše ime" required>
      </div>
      <div class="mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Vaš email" required>
      </div>
      <div class="mb-4">
        <label for="message" class="form-label">Poruka</label>
        <textarea formControlName="message" class="form-control" id="message" rows="4" placeholder="Vaša poruka" required></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg " [disabled]="contactForm.invalid">Pošaljite poruku</button>
      </div>
    </form>
  </div>
</div>

<div class="about-us-content">
  <div class="container py-5">
    <h2 class="text-center mb-4">Kontaktirajte nas</h2>
    <p class="text-center">Za sve informacije, slobodno nas kontaktirajte putem podataka navedenih ispod ili popunjavanjem forme iznad.</p>
    <div class="row mt-5">
      <div class="col-md-4 text-center">
        <i class="fas fa-map-marker-alt fa-3x mb-3"></i>
        <p class="mb-0">Adresa:</p>
        <p>Ul. Zlatnih ljiljana 11, 88420 Jablanica, Bosna i Hercegovina</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-phone fa-3x mb-3"></i>
        <p class="mb-0">Telefon:</p>
        <p>+387 61 661 410</p>
      </div>
      <div class="col-md-4 text-center">
        <i class="fas fa-envelope fa-3x mb-3"></i>
        <p class="mb-0">Email:</p>
        <p><a href="mailto:jaric.jab@gmail.com">jaric.jab&#64;gmail.com</a></p>
      </div>
    </div>
  </div>
</div>
