
.font-weight-bold {
    font-weight: bold;
  }
  
  .custom-dialog .p-dialog {
    width: 50%;
    max-width: 600px;
    min-width: 400px; 
    height: auto;
    margin: 0 auto; 
  }
  
  .custom-dialog .p-dialog-header {
    font-size: 18px;
    padding: 10px; 
  }
  

  .custom-button {
    background-color: #007bff; 
    color: white; 
    font-weight: bold; 
    padding: 10px 20px; 
    border-radius: 5px; 
    text-transform: uppercase; 
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.3); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    text-decoration: none; 
  }
  
  .custom-button:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
  }
  
  .custom-button:active {
    background-color: #004085; 
    transform: translateY(1px); 
  }

  @media (max-width: 768px) {
    .bg-light {
      display: block;  
    }
    .admin-title{
      padding-top: 20%;
    }
  }