<section class="about-us-hero bg-light text-center py-5">
  <div class="container">
    <h1 class="display-4">Pregled poruka</h1>
  </div>
</section>

<div class="container">
 

  <p-table [value]="contactMessages" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'"
    class="table-bordered">

    <ng-template pTemplate="header">
      <tr>
        <th>Ime</th>
        <th>Email</th>
        <th>Procitano</th>
        <th>Akcije</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-message>
      <tr>
        <td>{{ message.name }}</td>
        <td>{{ message.email }}</td>
     
        <td [ngClass]="{'font-weight-bold': !message.read}" (click)="openMessage(message)" style="cursor: pointer;">
          {{ message.message.length > 50 ? message.message.substring(0, 50) + '...' : message.message }}
        </td>

        <td>
          <button pButton type="button" class="p-button-text p-button-sm" (click)="onDelete(message.id)">
            <i class="fa fa-trash"></i> Obriši
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Detalji poruke" [(visible)]="messageDialogVisible" [modal]="true" [closable]="true" [@fadeInOut]
  [style]="{'width': '70%', 'max-width': '800px', 'height': 'auto'}">
  <div *ngIf="selectedMessage">
    <p><strong>Ime:</strong> {{ selectedMessage.name }}</p>
    <p><strong>Email:</strong> {{ selectedMessage.email }}</p>
    <p><strong>Datum:</strong> {{ selectedMessage.dateTime | date: 'dd/MM/yyyy' }}</p>
    <p><strong>Poruka:</strong></p>
    <p>{{ selectedMessage.message }}</p>

    <a [href]="'mailto:' + selectedMessage.email + 
    '?subject=Odgovor na vašu poruku&body=Poštovani ' + selectedMessage.name + '%0D%0A%0D%0A' + 
    'Odgovor na Vašu poruku:%0D%0A%0D%0A' + 
    'Vaša poruka:%0D%0A' + selectedMessage.message + '%0D%0A%0D%0A'" 
     class="p-button p-button-text p-button-sm custom-button">
    Odgovori
  </a>
  
    
  </div>
</p-dialog>

