
.font-weight-bold {
    font-weight: bold;
  }
  
  .custom-dialog .p-dialog {
    width: 50%;
    max-width: 600px;
    min-width: 400px; 
    height: auto;
    margin: 0 auto; 
  }
  
  .custom-dialog .p-dialog-header {
    font-size: 18px;
    padding: 10px; 
  }
  