.hero {
    background: url('/assets/background-logo2.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 70vh;
  }
  
    .service-box {
      background-color: #f9f9f9;
      border-radius: 8px;
    }
    
    #team img {
      border: 4px solid #ffffff;
    }
    
    h2, h1{
      color: #363435; 
    }
    #map {
      height: 400px;
      width: 100%;
    }

    .social-icons a {
      color: #555;
      transition: color 0.3s ease;
    }
    
    .social-icons a:hover {
      color: #007bff; 
    }
    
    .social-icons i {
      margin-right: 10px;
    }
    