.hero {
    background: url('/assets/background-logo2.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    height: 70vh;
  }
  
    .service-box {
      background-color: #f9f9f9;
      border-radius: 8px;
    }
    
    #team img {
      border: 4px solid #ffffff;
    }
    footer {
      background-color: #363435;
      color: white; /* Ako želiš da tekst u footeru bude beo */
      padding: 20px 0;
    }
    h2, h1{
      color: #363435; 
    }
    