<section class="hero bg-light text-center py-5">
  <div class="container">
    <h1 class="display-6 animate"> Dobrodošli na stranicu Jaric d.o.o.</h1>
    <p class="lead text-muted mt-3 animate">Kombinujemo tradiciju i inovacije za vrhunske rezultate u građevinskoj industriji.</p>
    <a routerLink="/services" class="btn btn-primary btn-sm d-md-none  mt-4 animate routerBtn">Pogledajte naše usluge</a>
    <a routerLink="/services" class="btn btn-primary btn-lg d-none d-md-inline-block  mt-4 animate routerBtn">Pogledajte naše usluge</a>
  </div>
</section>

<section id="about" class="py-5 bg-light">
  <div class="container animate">
    <h2 class="text-center mb-4 animate">O nama</h2>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="stat-box">
          <h3 class="display-4 ">{{ yearsOfExpirience }}</h3>
          <p class="lead text-muted">Godina iskustva</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="stat-box">
          <h3 class="display-4 ">{{ projectCount }}</h3>
          <p class="lead text-muted">Odrađenih projekata</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="stat-box">
          <h3 class="display-4 ">{{happyCustomer}}+</h3>
          <p class="lead text-muted">Sretnih klijenata</p>
        </div>
      </div>
    </div>
    <p class="text-center lead text-muted mt-4">
      Jaric d.o.o. je mlada firma koja donosi entuzijazam i inovacije u industriju. Posvećeni smo izgradnji najsvježijih i modernih projekata, koristeći najnovije tehnologije i pristupe.
    </p>
  </div>
</section>




<section id="services" class="py-5 bg-white">
  <div class="container">
    <h2 class="text-center mb-4 animate">Naše usluge</h2>
    <div class="row text-center">
      <div class="col-md-4 animate">
        <div class="service-box p-4 shadow-sm">
          <i class="fas fa-hard-hat fa-3x mb-3"></i>
          <h4>Izgradnja Stambenih Objekata</h4>
          <p class="text-muted">Specijalizovani smo za izgradnju kvalitetnih stambenih objekata prilagođenih vašim potrebama.</p>
        </div>
      </div>
      <div class="col-md-4 animate">
        <div class="service-box p-4 shadow-sm">
          <i class="fas fa-tools fa-3x mb-3"></i>
          <h4>Renoviranje i rekonstrukcija</h4>
          <p class="text-muted">Kompletne usluge renoviranja i rekonstrukcije zgrada, stanova i poslovnih prostora.</p>
        </div>
      </div>
      <div class="col-md-4 animate">
        <div class="service-box p-4 shadow-sm">
          <i class="fas fa-drafting-compass fa-3x mb-3"></i>
          <h4>Arhitektonske usluge</h4>
          <p class="text-muted">Nudimo inovativna i funkcionalna arhitektonska rešenja za sve vrste projekata.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="location" class="py-5 bg-light">
  <div class="container">
    <h2 class="text-center mb-4 animate">Naša lokacija</h2>
    <div class="row">
      <div class="col-md-6 animate">
        <h4>Gdje se nalazimo?</h4>
        <p class="text-muted">
          Jaric d.o.o.<br>
          Adresa: Ul. Zlatnih ljiljana 11, 88420 Jablanica, Bosna i Hercegovina<br>
          Telefon: +387 61 661 410<br>
          Email: <a href="mailto:jaric.jab@gmail.com">jaric.jab&#64;gmail.com</a>
        </p>
        <p class="text-muted">Radno vrijeme:<br> Ponedjeljak - Petak: 08:00 - 17:00<br> Subota: 09:00 - 14:00</p>
        <h4>Društvene mreže</h4>
        <p class="text-muted">
          Da biste bili u toku i vidjeli kako napreduju naši radovi, možete nas pratiti na našim društvenim mrežama:
        </p>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=61559342725834" target="_blank" class="text-primary mx-3">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a href="https://www.instagram.com/jaricdoo/" target="_blank" class="text-danger mx-3">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 animate">
        <div class="map-container">
          <iframe
            width="100%"
            height="400"
            style="border:0;"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps?q=43.66028,17.76167&output=embed">
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>

