.header-project-details {
  height: 10vh; /* Na desktopu 10% visine ekrana */
  display: flex;
  justify-content: center;
  align-items: center;
}


.text-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
}


.description {
  display: block; 
  max-width: 100%; 
  overflow: hidden;
}

/* Klikabilne slike */
.clickable-image {
  cursor: pointer;
  transition: transform 0.3s;
}

.clickable-image:hover {
  transform: scale(1.05);
}

.fullscreen{
  height: 90vh;
}
/* Prilagodba za mobilne uređaje */
@media screen and (max-width: 768px) {
  .header-project-details {
    height: 20vh; /* Na mobilnim uređajima koristimo 20% visine ekrana */
  }
  .gallery-height {
    height: 30vh; /* Ako želite da visina galerije bude veća na manjim ekranima */
  }
  .fullscreen{
    height:auto ;
  }
}
