
.about-us-hero {
  position: relative;
  background: url('https://jaric-storage.b-cdn.net/aboutus-logo.jpg')  center/cover no-repeat;
  height: 70vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
  animation: scaleIn 1s ease-in-out;
}

.about-us-hero .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}


.about-us-hero .container {
  position: relative;
  z-index: 2;
  animation: fadeIn 1.5s ease-in-out;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes scaleIn {
  from { transform: scale(1.05); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-hero {
  animation: scaleIn 1.2s ease-in-out;
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.animate-slide-up {
  opacity: 0;
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.5s;
}

.about-us-content {
  padding: 80px 0;
  background: #f8f9fa;
}

.about-us-content h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 15px;
}

.about-us-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.8;
}


.about-us-image {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.about-us-image:hover {
  transform: scale(1.05);
}



@media (max-width: 768px) {
  .about-us-hero,
  .about-us-hero .container,
  .animate-hero,
  .animate-fade-in,
  .animate-slide-up {
    animation: none !important;
  }
  .about-us-hero {
    height: 50vh;
  }
}
